<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-4 my-style-destacados">
  <div class="row">
    <div  class="col-md-12">
      <h1>Nuevo Libro</h1>
      <form>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre del libro">
        </div>
        <div class="form-group">
          <label for="descripcion">Descripcion</label>
          <textarea class="form-control" id="descripcion" rows="3"></textarea>
        </div>
          <div class="form-group">
            <label for="imagenUrl">Url de la imagen</label>
            <input type="text" class="form-control" id="imagenUrl" placeholder="Url de la imagen">
        </div>
        <button type="submit" class="btn btn-primary" >Guardar</button>
      </form>
      <div class="card">
        <img th:src="${libro.imagenUrl}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 th:text="${libro.nombre}" class="card-title"></h5>
          <p>
            <a th:href="@{/librosPorEditorial(editorialId=${libro.editorial.id})}"
               th:text="${libro.editorial.nombre}"
               class="badge bg-warning text-dark">
            </a>
          </p>
          <p th:text="${libro.descripcion}" class="card-text"></p>
          <a href="#" class="btn btn-primary">Ver detalles</a>
        </div>
      </div>
    </div>
    <div class="form-group" >
      <lab for="editorial" >Editorial</lab>
      <select class="form-control" id="editorial">
        <option th:each="editorial : ${editoriales}"
                th:value="${editorial.id}"
                th:text="${editorial.nombre}">

        </option>
      </select>
    </div>
  </div>
</div>
</body>
</html>